<!--shows current orders in queue-->

{% extends "index.html" %}

{% block content %}
<style>
    table, th, td {
      border: 1px solid black;
      /*width:60%;*/
}
</style>
<div class="main">


<h2>Current Orders</h2>
<h3>Current Orders Below. Yell out the person's name when their order is ready and clear their order box!</h3>
</div>
<div class="center">

{% for username in session['currentOrders'] %}
<div class="orderBox">
    <h2>{{username}}</h2>
    <button class="remove-btn" type="button" name="button">
                <img src="{{ url_for('static', filename='delete-icn.svg') }}" alt="" />
              </button>
<table>
    <tr>
        <th>Item</th>
        <th>Quantity</th>
        <th>Customization </th>
        
        
{% for item in session['currentOrders'][username].iterkeys() %}
        <tr class="boxed">
        
        <td>{{session['currentOrders'][username][item]['name']}}</td>
        <td>{{session['currentOrders'][username][item]['quantity']}}</td>
        {% if session['currentOrders'][username][item]['extras'] != None %}
        {% if (session['currentOrders'][username][item]['extras']|length) > 1 %}
         <td>Custom</td>  
                
                    {% for i in range(0,(session['currentOrders'][username][item]['extras']|length)) %}
                    <tr><td></td><td></td>
                    <td>{{session['currentOrders'][username][item]['extras'][i]}}</td>
                    </tr>
                    {% endfor %}
                
        
        {% endif %}
        {% endif %}
        
        {% if session['currentOrders'][username][item]['include'] != None %}
        {% if (session['currentOrders'][username][item]['include']|length) > 0 %}
        
                    {% for i in range(0,(session['currentOrders'][username][item]['include']|length)) %}
                    <tr><td></td><td></td>
                    <td><b>No {{session['currentOrders'][username][item]['include'][i]}}</b></td>
                    </tr>
                    {% endfor %}
        
        {% endif %}
        {% endif %}
        </tr>
        </tr>

{% endfor %}

    </td>
</tr>
</table>
</div>
{% endfor %}
    
</div>
<script>
/* global $ */
var URL = "{{url_for('current_orders')}}";


 $(".remove-btn").on("click", function(event){
      var username = $(this).parent().find("h2").text();
      console.log(username);
      var box = $(this).parent();
      $.post(URL,{'username':username},function(resp) { 
                if (resp.success===true){
                    box.remove();
                    
                } else {
                    alert("error!");
                }
            },
            'json');
      
    });
</script>

{% endblock %}