<!--shows current orders in queue-->

{% extends "index.html" %}

{% block content %}

<div class="main">


<h2>Current Orders</h2>
<p>Click on the order to see details.</p>
</div>
<div class="center">
    
    <!--<button class="accordion"-->
<table>

    
{% for username in session['currentOrders'] %}
<tr class="orderBox">
        <th>{{username}}</th>
        <td></td>
        <td><button class="remove-btn" type="button" name="button">
                <img src="{{ url_for('static', filename='delete-icn.svg') }}" alt="" />
              </button></td>
        <td>
{% for item in session['currentOrders'][username].iterkeys() %}
        <tr class="boxed">
        
        <td>{{session['currentOrders'][username][item]['name']}}</td>
        <td>{{session['currentOrders'][username][item]['quantity']}}</td>
            {% if extras in session['currentOrders'][username][item] %}
            <td>Customized: 
                <td>
                    {% for extra in session['currentOrders'][username][item].iterkeys() %}
                    <td>{{extra}}: </td>
                    <td>{{session['currentOrders'][username][item][extra]}}</td>
                    {% endfor %}
                </td></td>
                {% endif %}
        <td>{{session['currentOrders'][username][item]['kind']}}</td>
        </tr>

{% endfor %}

    </td>
</tr>
{% endfor %}


</table>
<!--</button>-->
<!--    {% for item in items %}-->
<!--<div class="panel">-->
<!--    <table>-->
<!--        {% if item.oid == order.oid %}-->
<!--        <tr>-->
<!--            <td>{{item.name}}</td>-->
<!--            <td>${{item.item_total}}</td>-->
<!--            <td>{{item.quantity}}</td>-->
        
<!--        {% endif %}-->
<!--    {% endfor %}-->
<!--        </tr>-->

    
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>

{% endblock %}