<!DOCTYPE html>
<html>
  {% block head %}
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
  {% endblock %}
    <body>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    
    {% if msg %}
    <p>{{msg}}</p>
    {% endif %}  
    
        <ul id="mbar">
          <li id="lmbar"><a href="{{url_for('recent_orders',username=session['username'])}}">Recent Orders</a></li>
          <li id="lmbar"><a href="{{url_for('payment',username=session['username'])}}">Payment</a></li>
          <li id="lmbar"><a href="{{url_for('order', username=session['username'])}}">Menu</a></li>
          <li id="lmbar"><a href="{{url_for('tabs', username=session['username'])}}">User Tabs</a></li>
          <li id="lmbar"><a href="{{url_for('cart', username=session['username'])}}">Cart</a></li>
          {% if session['staffId'] %}
          <form action="{{url_for('staff_logout')}}" method="POST">
          <li id="lmbar">Signed in as staff: {{session['staffId']}} </li>
          <button type="submit" id="logout">Staff Logout</button>
          </form>
          {% endif %}
          
          {% if session['username'] %}
          <form action="{{url_for('leave_tab')}}" method="POST">
          <li id="lmbar">On the tab user: {{session['username']}} </li>
          <button type="submit" id="logout">Leave Tab</button>
          </form>
          {% endif %}
        </ul>
        
        <div id="content", align="center">
        {% block content %}
        <br><br>
        <h2>Login Form</h2>

        <form action="{{url_for('staff_login')}}" method="POST">
          <div class="container">
            <label for="staffId"><b>Username</b></label>
            <input name="staffId" type="text" placeholder="Enter Username" required>
        
            <label for="pwd"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="pwd" required>
                
            <button type="submit">Login</button>  
          </div>
        </form>
        {% endblock %}
        
        </div>
    </body>
</html>