<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<!DOCTYPE html>
<style type="text/css">
table {
  /*background-color: pink;*/
  color: black;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
}
.labels{
   font-size: 20px;
   font-weight:none;
}
th, td {
  padding: 10px;
}
.center-align {
  text-align: center;
}
.login-btn{
  background-color: white;
  border: solid pink;
  color: pink;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
}
.login-input {
  border: none;
  border-bottom: 2px solid pink;
}
input::placeholder{
  font-style:italic;
}
</style>
<html>
  {% block head %}
    <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>
  {% endblock %}
    <body>
    
    {% if session['staffId'] %}
    <div class="navbar">
        
          <label>
          <li id="lmbar"><a href="{{url_for('current_orders')}}">Current Orders</a></li>
          <li id="lmbar"><a href="{{url_for('order', username=session['username'])}}">Menu</a></li>
          <li id="lmbar"><a href="{{url_for('tabs')}}">User Tabs</a></li>
          <li id="lmbar"><a href="{{url_for('add_staff')}}">Add Staff Member</a></li>
          <li id="lmbar"><a href="{{url_for('inventory')}}">Inventory</a></li>
          </label>
          
          {% if session['username'] %}
          
          <div class="dropdown">
            <label>
             <button name="dropbtn" class="dropbtn" onclick="drop_menu()">{{session['username']}}</a>
                <i class="fa fa-caret-down"></i>
              </button></label>
               <div class="dropdown-content" id="user_dd">
                <label><a href="{{url_for('payment',username=session['username'])}}">Payment</a></label>
                <label><a href="{{url_for('recent_orders',username=session['username'])}}">Recent Orders</a></label>
                <label><a href="{{url_for('cart', username=session['username'])}}">Cart</a></label>
                
                <form id="logout_btn" action="{{url_for('leave_tab')}}" method="POST">
                    <a href="#" onclick="document.getElementById('logout_btn').submit()"><label>Logout</label></a>
                </form>
              </div>
           </div>
          {% endif %}
          
          <form id="staff_logout" action="{{url_for('staff_logout')}}" method="POST">
            <a href="#" onclick="document.getElementById('staff_logout').submit()">Logout {{session['staffId']}}</a>
          </form>
          
        </div>
        {% endif %}
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="messages">
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        
        {% if msg %}
        <p>{{msg}}</p>
        {% endif %}  
        
        <div id="content", align="center">
        {% block content %}
        <br><br>
        

        <form action="{{url_for('staff_login')}}" method="POST">
          <div class="container">
            <table>
              <tr>
                <th class="center-align"><h2>Login Form</h2></th>
              </tr>
              <tr>
                <td>
                  <label class="labels" for="staffId">Username</label>
                  <input class="login-input" name="staffId" id="staffId" type="text" placeholder="Enter Username" required>
                </td>
              </tr>
              <tr>
                <td><label class="labels" for="pwd">Password</label>
                <input class="login-input" type="password" placeholder="Enter Password" name="pwd" id="pwd" required></td>
              </tr>
              <tr>
                <td class=center-align><button class="login-btn" type="submit">Login</button> </td>
              </tr>
            </table>
          </div>
        </form>
        {% endblock %}
        
        </div>
        
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function drop_menu() {
      document.getElementById("user_dd").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
      if (!e.target.matches('.dropbtn')) {
      var user_dd = document.getElementById("user_dd");
        if (user_dd.classList.contains('show')) {
          user_dd.classList.remove('show');
        }
      }
    }
  </script>
    </body>
</html>