<!DOCTYPE html>

<style>
.customize {
  background-color: pink;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.checkboxBigger {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: relative;
}

table, th, td {
  /*border: 1px dashed black;*/
  border-collapse: collapse;
}
th, td, tr {
  padding: 5px;
  text-align: center;    
}
th{
  background-color:pink;
  color:white;
}
.center-align{
  text-align:center;
}
</style>
{% extends "index.html" %}

  {% block content %}
  <div id="notice">
    
  </div>
  <div id="custombar" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <h1></h1>
                  <table id="ingredList">
                    <tr><h2>included:</h2></tr>
                  </table>
                  
                  <br><table id="extraList"> 
                  <tr><td>Item Price: <input type="text" name="sum" value="0"></td></tr>
                    <tr><h2>add ons:</h2></tr>
                    {% for ingred in ingreds %}
                      <tr>
                        <td class="name">{{ingred.name}}</td> 
                        <td> <input class ="calc" type="checkbox" value="{{ingred.price}}">${{ingred.price}}</input> </td> 
                      </tr>
                    {% endfor %}
                  </table>
                  
                  
                </div>
  <div id="main">
  <h1>El Table Menu Items</h1>
  <p><strong>Please Select 1 or More Menu Items to Add to Order</strong></p>
  
  <div id="myBtnContainer">
  <button id="all-btn" class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button id="sandwich-btn" class="btn" onclick="filterSelection('sandwich')"> Sandwiches</button>
  <button id="drink-btn" class="btn" onclick="filterSelection('drink')"> Drinks</button>
  <button id="candy-btn" class="btn" onclick="filterSelection('candy')"> Candies</button>
  <button id="snack-btn" class="btn" onclick="filterSelection('snack')"> Snacks</button>
</div>
  <div class="main">
    <div class="container" id="menuItems">
      <form action="{{url_for('cart')}}" method="GET">
      <div class="container">
      <table id="menuItems">
        <tr>
          <th class="center-align">Name</th>
          <th class="center-align">Price</th>
          <th class="center-align">Add to Cart</th>
          <th> </th>
        </tr>
        {% for item in items %}
          {% if item.kind == "sandwich" %}
            <!-- Customization unavailable for open-faced sandwiches right now-->
            {% if item.name == "The Consensu-el"%}
            <tr class="all sandwich" value={{item.miid}}>
              <td class="name">{{item.name}}</td>
              <td class="price">$ {{item.price}}</td>
              <td>
                <input class ="checkboxBigger"  type="checkbox" id="cb" value={{item.miid}}></input>
              </td>
            </tr>
            {% else %}
            <tr class="all sandwich" value={{item.miid}}>
              <td class="name">{{item.name}}</td>
              <td class="price">$ {{item.price}}</td>
              <td>
                <input class ="checkboxBigger"  type="checkbox" id="cb" value={{item.miid}}></input>
              </td>
              <td>
                <button class ="customize" type="button" id="customMenu" onclick="openNav(this.value)" value={{item.miid}}> Customize
                </button></td>
            </tr>
            {% endif %}
          {% elif item.kind == "drink" %}
            <tr class="all drink" miid={{item.miid}}>
            <td class="name">{{item.name}}</td>
            <td class="price">$ {{item.price}}</td>
            <td>
              <input class ="checkboxBigger" type="checkbox" id="cb" value={{item.miid}}></input>
            </td>  
            </tr>
          {% elif item.kind == "candy" %}
            <tr class="all candy" miid={{item.miid}}>
            <td class="name">{{item.name}}</td>
            <td class="price">$ {{item.price}}</td>
            <td>
              <input class ="checkboxBigger"  type="checkbox" id="cb" value={{item.miid}}></input>
            </td>
            </tr>
          {% elif item.kind == "snack" %}
            <tr class="all snack" miid={{item.miid}}>
            <td class="name">{{item.name}}</td>
            <td class="price">$ {{item.price}}</td>
            <td><form action="{{url_for('cart')}}" method="GET">
              <input class ="checkboxBigger"  type="checkbox" id="cb" value="{{item.miid}}"></input>
            </td>
            </tr>
          {% endif %}
        {% endfor %}
        </table>
        </div>
       <br>
      Total Price: <input type="text" name="subtotal" value="0" />
      <br><button type="submit">Checkout!</button>
      </form>
    </div>
  </div>
</div>
<script>
  
/* global $ */

var URL = "{{url_for('cart')}}";
var URLm = "{{url_for('order')}}"

  $("#menuItems").on(
    "click", "input[type=checkbox]",
    function(event) {
      var name = $(this).closest("tr").find(".name").text();
      var price = $(this).closest("tr").find(".price").text();
      console.log(name)
      var miid = $(this).val();
      $.post(URL,{'miid':miid, 'name':name, 'price':price},function(resp) { 
                var name = resp.name;
                var price = resp.price;
                $("#[miid=" + resp.miid +"]").find(".name").text(name);
            },
            'json');
      
    });

/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
function openNav(miid) {
  $("#ingredList").empty();
  document.getElementById("custombar").style.width = "400px";
  document.getElementById("main").style.marginLeft = "400px";
   var itemName = $("tr[value=" + miid +"]").find(".name").text();
   $.post(URLm,{'miid':miid},function(resp) { 
                var ingred = resp.ingred;
                var extra = resp.extra;
                console.log(ingred);
                console.log(extra);
                 $("#custombar").find('h1').text(itemName);
                 $('#ingredList').val(miid);
                for (var i in ingred){
                  $('#ingredList').append('<tr> <td>'+ingred[i]['name']+'</td> <td> <input type="checkbox" class = "calc" id="include" kind="'+ingred[i]['kind']+
                  '" value="'+ingred[i]['price']+'" iid="'+ingred[i]['iid']+'" checked>'+   ingred[i]['price']+'</input> </td> </tr>');
                 }
                 $('#extraList').val(miid)
            },
            'json');
    
}

function calcTotal(){
  var total = 0;
  $(".calc:checked").each(function(){
        total+=parseFloat($(this).val(),10);
    });
    $("input[name=sum]").val(total)
}
  
    $("#extraList").on("click", "input[type=checkbox]", function(event){
      calcTotal();
    });

function calcPrice(){
  var total =0;
  $(".checkboxBigger:checked").each(function(){
        total+=parseFloat($(this).closest("tr").find(".price").text(),10);
    });
    $("input[name=subtotal]").val(total)
}
    $("#menuItems").on("click", "input[type=checkbox]", function(event){
      calcPrice();
    });

 $("#ingredList").on(
    "click", "input[type=checkbox]",
    function() {
      var name = $(this).name;
      var iprice = parseFloat($(this).val());
      var miid = $(this).closest("#ingredList").val();
      console.log(iprice);
      var oprice = parseFloat($("tr[value=" + miid +"]").find(".price").text());

      
      console.log($(this)[0].checked);
      var nprice = oprice;
      if ($(this)[0].checked === true) {
        nprice+=iprice;
      }else{
        nprice-=iprice;
      }
      console.log(nprice);
      $("tr[value=" + miid +"]").find(".price").text(nprice);
      $("input[name=sum]").val(nprice)
  });

  $("#extraList").on(
    "click", "input[type=checkbox]",
    function() {
      var name = $(this).closest("tr").find(".name").text();
      console.log(name);
      var iprice = parseFloat($(this).val());
      var miid = $(this).closest("#extraList").val();
      // console.log(miid);
      console.log(iprice);
      var oprice = parseFloat($("tr[value=" + miid +"]").find(".price").text());
      
      console.log(oprice);
      console.log($(this)[0].checked);
      var nprice = oprice;
      if ($(this)[0].checked === true) {
        nprice+=iprice;
      }else{
        nprice-=iprice;
      }
      $("tr[value=" + miid +"]").find(".price").text(nprice);
      $("input[name=sum]").val(nprice)
      $.post(URL,{'miid':miid, 'name':name, 'price':nprice, 'extra':true},function(resp) {
        var iname = resp.iname;
        var aname = resp.aname;
        $('#notice').empty();
        $('#notice').append('<p> Added '+iname+' with '+aname+' to cart!');
      });
  });



/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("custombar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}

function filterSelection(className){
  var allClasses = ["sandwich", "drink", "candy", "snack", "all"];
  var btnIDs = ["sandwich-btn", "drink-btn", "candy-btn", "snack-btn", "all-btn"];

  for(var i=0;i<allClasses.length;i++){
    var currClass = allClasses[i]
    var currBtn = btnIDs[i]
    if (className != currClass){
      $("."+currClass).hide();
      $("#"+currBtn).attr("class", "btn");
    }
  }
  $("."+className).show();
  $("#"+className+"-btn").attr("class", "btn active");
}
</script>
{% endblock %}
