<!DOCTYPE html>

<style>
.customize {
  background-color: pink;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.checkboxBigger {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: relative;
}

table, th, td {
  /*border: 1px dashed black;*/
  border-collapse: collapse;
}
th, td, tr {
  padding: 5px;
  text-align: center;    
}
th{
  background-color:pink;
  color:white;
}
.center-align{
  text-align:center;
}
</style>
{% extends "index.html" %}

  {% block content %}
  <div id="notice">
    
  </div>
  <div id="custombar" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <h1></h1>
                  <table id="ingredList">
                    <tr><h2>includes:</h2></tr>
                  </table>
                  
                  <br><table id="extraList"> 
                  <tr>
                    <td>Item Price: <input type="text" id="sum" placeholder=""></td>
                    <td><input id="addCust" type="submit" value="Add to Cart!"></input></td>
                    </tr>
                    <tr><h2>add ons:</h2></tr>
                    {% for ingred in ingreds %}
                      <tr>
                        {% if ingred.quantity <= 0 %}
                        <td class="name"> <b>OUT OF STOCK</b> <s>{{ingred.name}}</s></td> 
                        <td>  <input id="ex" class ="calc" type="checkbox" value="{{ingred.price}}" disabled><s>${{ingred.price}}</s></input> </td> 
                        {% else %}
                         <td class="name">{{ingred.name}}</td>
                        <td> <input class ="calc" type="checkbox" value="{{ingred.price}}">${{ingred.price}}</input> </td> 
                        {% endif %}
                      </tr>
                    {% endfor %}  
                      
                  </table>
                  
                </div>
                
  <div id="main">
  <h1>El Table Menu Items</h1>
  <p><strong>Please Select 1 or More Menu Items to Add to Order</strong></p>
  
  <div id="myBtnContainer">
  <button id="all-btn" class="btn active" onclick="filterSelection('all')"> Show all</button>
  <button id="sandwich-btn" class="btn" onclick="filterSelection('sandwich')"> Sandwiches</button>
  <button id="drink-btn" class="btn" onclick="filterSelection('drink')"> Drinks</button>
  <button id="candy-btn" class="btn" onclick="filterSelection('candy')"> Candies</button>
  <button id="snack-btn" class="btn" onclick="filterSelection('snack')"> Snacks</button>
</div>
  <div class="main">
    <div class="container" id="menuItems">
      <form action="{{url_for('cart')}}" method="GET">
      <div class="container">
      <table id="menuItems">
        <tr>
          <th class="center-align">Name</th>
          <th class="center-align">Price</th>
          <th class="center-align">Add to Cart</th>
          <th> </th>
        </tr>
        {% for item in items %}
          {% if item.kind == "sandwich" %}
            
            <!-- Customization unavailable for open-faced sandwiches right now-->
            {% if item.name == "The Consensu-el"%}
            <tr class="all sandwich" value={{item.miid}}>
              <td class="name">{{item.name}}</td>
              <td class="price">$ {{item.price}}</td>
              <td>
                <input class ="checkboxBigger"  type="checkbox" id="cb" value={{item.miid}}></input>
              </td>
            </tr>
            {% else %}
            <tr value="{{item.miid}}">
             
            <td id="b" class="name">{{item.name}}</td>
            <td id="b2" class="price">{{item.price}}</td>
            <td>
              
              <input class ="checkboxBigger"  type="checkbox" id="cb" value={{item.miid}}></input>
              
            </td>
            <td>
              <button class ="customize" type="button" id="customMenu" onclick="openNav(this,this.value)" value={{item.miid}}>Select
              </button></td>
            {% endif %}
          {% elif item.kind == "drink" %}
            <tr class="all drink" value={{item.miid}}>
            <td class="name">{{item.name}}</td>
            <td class="price">$ {{item.price}}</td>
            <td class="miid" value="{{item.miid}}">
               
              <input  miid ="{{item.miid}}" id="addCust" type="submit" value="Add to Cart!">
              
            </td>  
            </tr>
          {% elif item.kind == "candy" %}
            <tr class="all candy" value={{item.miid}}>
            
            <td class="name">{{item.name}}</td>
            <td class="price">$ {{item.price}}</td>
            <td class="miid" value="{{item.miid}}">
              <input  miid ="{{item.miid}}" id="addCust" type="submit" value="Add to Cart!">
              
            </td>
            </tr>
          {% elif item.kind == "snack" %}
            <tr class="all snack" value={{item.miid}}>
            <td class="name">{{item.name}}</td>
            <td class="price">$ {{item.price}}</td>
            <td class="miid" value="{{item.miid}}">
              <!--<label for="addCust">Add To Cart!</label>-->
              <input miid ="{{item.miid}}" id="addCust" type="submit" value="Add to Cart!">
              
            </td>
            </tr>
          {% endif %}
        {% endfor %}
        </table>
        </div>
       <br>
      Total Price: <input type="text" name="subtotal" value="0" />
      <br><button type="submit">Checkout!</button>
      </form>
    </div>
  </div>
</div>
<script>
  
/* global $ */

var URL = "{{url_for('cart')}}";
var URLm = "{{url_for('order')}}"

var exclude = ["Null"];
var extras = ["Null"];

  $("#extraList").on(
    "click", "input[type=submit]",
    function(event) {
      
      var price = $(this).closest("tr").find("#sum").val()[0];
      // var price = $(this).closest("tr").find(".price").text();
      console.log(price);
      var miid = $(this).closest("#extraList").val();
      console.log(miid);
      $.post(URL,{'miid':miid, 'price':price, 'extras':extras, 'exclude':exclude},function(resp) { 
                var name = resp.name;
                var price = resp.price;
               
            },
            'json');
      
    });
    
   $("#menuItems").on(
    "click", "input[type=submit]#addCust", 
    function(event) {
      event.preventDefault();
      var miid = $(this).attr("miid");
      console.log(miid);
      $.post(URL,{'miid':miid},function(resp) { 
                
            },
            'json');
      
    });
    
    // $("#menuItems").each("")

/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
function openNav(item,miid) {
  exclude = ["Null"];
  extras = ["Null"];
  $(item).closest("tr").find(".checkboxBigger").attr("checked",true);
  document.getElementById("custombar").style.width = "400px";
  document.getElementById("main").style.marginLeft = "400px";
   var itemName = $("tr[value=" + miid +"]").find(".name").text();
   console.log(itemName);
   var itemPrice = $("tr[value=" + miid +"]").find(".price").text();
   console.log(itemPrice);
   $.post(URLm,{'miid':miid},function(resp) { 
                var ingred = resp.ingred;
                var extra = resp.extra;
                console.log(ingred);
                console.log(extra);
                 $("#custombar").find('h1').text(itemName);
                 $('#ingredList').val(miid);
                 
                 console.log(exclude);
                for (var i in ingred){
                  
                  $('#ingredList').append('<tr> <td>'+ingred[i]['name']+'</td> <td> <input name="'+ingred[i]['name']+'" type="checkbox" class = "calc" id="include" kind="'+ingred[i]['kind']+
                  '" value="'+ingred[i]['price']+'" iid="'+ingred[i]['iid']+'" checked> $'+ ingred[i]['price']+'</input> </td> </tr>');
                   if (ingred[i]['quantity']<=0){
                     $("input[iid="+ingred[i]['iid']+"]").attr("disabled", true).removeAttr("checked");
                     itemPrice-=$("input[iid="+ingred[i]['iid']+"]").val();
                     $("tr[value=" + miid +"]").find(".price").text(itemPrice);
                     exclude.push(ingred[i]['name']);
                   }
                 }
                 $('table#extraList').val(miid);
                 $('table#extraList').find("input[type=checkbox]").attr("checked",false);
                 $('input#sum').val(itemPrice);
            
            },
            'json');
    
}


function calcTotal(){
  var total = 0;
  $(".calc:checked").each(function(){
        total+=parseFloat($(this).val(),10);
    });
    $("input#sum").val(total)
}
  
    $("#extraList").on("click", "input[type=checkbox]", function(event){
      calcTotal();
    });

function calcPrice(){
  var total =0;
  $(".checkboxBigger:checked").each(function(){
        total+=parseFloat($(this).closest("tr").find(".price").text(),10);
    });
    $("input[name=subtotal]").val(total)
}
    $("#menuItems").on("click", "input[type=checkbox]", function(event){
      calcPrice();
    });

 $("#ingredList").on(
    "click", "input[type=checkbox]",
    function() {
      var name = $(this).name;
      var iprice = parseFloat($(this).val());
      var miid = $(this).closest("#ingredList").val();
      console.log(iprice);
      var oprice = parseFloat($("tr[value=" + miid +"]").find(".price").text());

      
      console.log($(this)[0].checked);
      var nprice = oprice;
      if ($(this)[0].checked === true) {
        var index = exclude.indexOf($(this)[0].name)
        // if (index > -1) {
          exclude.splice(index, 1);
        // }
        nprice+=iprice;
      }else{
        exclude.push($(this)[0].name);
        nprice-=iprice;
      }
      console.log(exclude)
      $("tr[value=" + miid +"]").find(".price").text(nprice);
      $("input#sum").val(nprice)
   });
   
  $("#extraList").on(
    "click", "input[type=checkbox]",
    function() {
      var name = $(this).closest("tr").find(".name").text();
      console.log(name);
      var iprice = parseFloat($(this).val());
      var miid = $(this).closest("#extraList").val();
      console.log(miid);
      console.log(iprice);
      var oprice = parseFloat($("tr[value=" + miid +"]").find(".price").text());
      
      console.log(oprice);
      console.log($(this)[0].checked);
      var nprice = oprice;
      if ($(this)[0].checked === true) {
        nprice+=iprice;
      }else{
        nprice-=iprice;
      }
      $("tr[value=" + miid +"]").find(".price").text(nprice);
      $("input#sum").val(nprice);
      extras.push(name);
      console.log(extras);
      
      // $.post(URL,{'miid':miid, 'name':name, 'price':nprice, 'extra':true},function(resp) {
      //   var iname = resp.iname;
      //   var aname = resp.aname;
      //   $('#notice').empty();
      //   $('#notice').append('<p> Added '+iname+' with '+aname+' to cart!');
      // });
      
  });



/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("custombar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}

function filterSelection(className){
  var allClasses = ["sandwich", "drink", "candy", "snack", "all"];
  var btnIDs = ["sandwich-btn", "drink-btn", "candy-btn", "snack-btn", "all-btn"];

  for(var i=0;i<allClasses.length;i++){
    var currClass = allClasses[i]
    var currBtn = btnIDs[i]
    if (className != currClass){
      $("."+currClass).hide();
      $("#"+currBtn).attr("class", "btn");
    }
  }
  $("."+className).show();
  $("#"+className+"-btn").attr("class", "btn active");
}
</script>
{% endblock %}
