<!DOCTYPE html>

<style>
.customize {
  background-color: pink;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.checkboxBigger {
    width: 20px;
    height: 20px;
    background: #ddd;

    border-radius: 100%;
    position: relative;
}
</style>
{% extends "index.html" %}

  {% block content %}
  <div id="custombar" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <a><ul id="ingredList">included: </ul></a>
                  <a><ul id="extraList">add ons: </ul></a>
                  
                </div>
  <div id="main">
  <h1>El Table Menu Items</h1>
  <p><strong>Please Select 1 or More Menu Items to Add to Order</strong></p>
  <div class="main">
    <div class="container" id="menuItems">
      <form action="{{url_for('cart')}}" method="GET"> 
      <table id="menuItems">
        <tr>
          <th>Item</th>
        </tr>
        {% for item in items %}
          {% if item.kind == "sandwich" %}
            <tr value={{item.miid}}>
            <td class="name">{{item.name}}</td>
            <td class="price">{{item.price}}</td>
            <td>
              <input class ="checkboxBigger"  type="checkbox" id="cb" value={{item.miid}}></input>
            </td>
            <td><input class ="customize" type="button" id="customMenu" onclick="openNav(this)" miid={{item.miid}} value="Customize">
              </button></td>
            </tr>

          {% elif item.kind == "drink" %}
            <tr miid={{item.miid}}>
            <td class="name">{{item.name}}</td>
            <td class="price">{{item.price}}</td>
            <td>
              <input class ="checkboxBigger" type="checkbox" id="cb" value={{item.miid}}></input>
            </td>  
            </tr>
          {% elif item.kind == "candy" %}
            <tr miid={{item.miid}}>
            <td class="name">{{item.name}}</td>
            <td class="price">{{item.price}}</td>
            <td>
              <input class ="checkboxBigger"  type="checkbox" id="cb" value={{item.miid}}></input>
            </td>
            </tr>
          {% elif item.kind == "snack" %}
            <tr miid={{item.miid}}>
            <td class="name">{{item.name}}</td>
            <td class="price">{{item.price}}</td>
            <td><form action="{{url_for('cart')}}" method="GET">
              <input class ="checkboxBigger"  type="checkbox" id="cb" value="{{item.miid}}"></input>
            </td>
            </tr>
          {% endif %}
        {% endfor %}
        </table>
       <br>
      <!--Total Price:-->
      <!--<input type="text" name="sum" />-->
      <br><button type="submit">Checkout!</button>
      </form>
    </div>
  </div>
</div>
<script>
  
/* global $ */

var URL = "{{url_for('cart')}}";
var URLm = "{{url_for('order')}}"

  $("#menuItems").on(
    "click", "input[type=checkbox]",
    function(event) {
      var name = $(this).closest("tr").find(".name").text();
      var price = $(this).closest("tr").find(".price").text();
      console.log(name)
      var miid = $(this).val();
      $.post(URL,{'miid':miid, 'name':name, 'price':price},function(resp) { 
                var name = resp.name;
                var price = resp.price;
                $("#[miid=" + resp.miid +"]").find(".name").css('font-weight','bold').text(name+" found");
            },
            'json');
      
    });

/* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
function openNav(item) {
  $("#ingredList").empty();
  var miid = item.miid;
  console.log(miid);
  document.getElementById("custombar").style.width = "400px";
  document.getElementById("main").style.marginLeft = "400px";
  // var miid = $(this).closest("tr").find("input[type=checkbox]").val();
   
   $.post(URLm,{'miid':miid},function(resp) { 
                var ingred = resp.ingred;
                var extra = resp.extra;
                console.log(ingred);
                console.log(extra);
                // console.log(miid);
                 $('#ingredList').val(miid)
                for (var i in ingred){
                  $('#ingredList').prepend('<a href="#" type="button" >'+ingred[i]['name']+'  <input type="checkbox" id="include" kind="'+ingred[i]['kind']+
                  '" value="'+ingred[i]['price']+'" checked>'+   ingred[i]['price']+'</input> </a>');
                 }
                for (var i in extra){
                  $('#extraList').append('<a href="#" type="button" >'+extra[i]['name']+'  <input class ="calc" type="radio" value='+extra[i]['price']+'>'+extra[i]['price']+'</input> </a>');
                }
                $('#extraList').append('Total Price: <input type="text" name="sum" value="0" >');
            },
            'json');
    calcTotal();
}

function calcTotal(){
  var total = 0;
  $(".calc:checked").each(function(){
        total+=parseInt($(this).val(),10);
    });
    console.log("yay");
    $("input[name=sum]").val(total)
}
  
    $("#extraList").on("click", "input[type=radio]", function(event){
      calcTotal();
    });


 $("#ingredList").on(
    "click", "input[type=checkbox]",
    function(event) {
      var name = $(this).name;
      var price = $(this).val();
      var miid = $(this).closest("#ingredList").val();
      console.log(miid);
      console.log(price);
      var oprice = $("#[miid=" + miid +"]").find(".price").css().text();
      console.log(oprice);
      var nprice = oprice-price;
      // $("#menuItems").("#[miid=" + miid +"]").find(".price").text();
      
    //   $.post(URL,{'miid':miid, 'name':name, 'price':price},function(resp) { 
    //             var name = resp.name;
    //             var price = resp.price;
    //             $("#[miid=" + resp.miid +"]").find(".name").css('font-weight','bold').text(name+" found");
    //         },
    //         'json');
      
   });


/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("custombar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
  // $("#ingredList").empty()
}
  </script>
  {% endblock %}
