<!DOCTYPE html>
{% extends "index.html" %}
{% block content %}

    <div id="errors"></div>
    <h1>
        Make a payment
    </h1>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for msg in messages %}
            <h2>{{msg}}</21>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    
    <form method="POST" action="">
    <p><label for="amount">Amount</label>
        <input type="text" id="amount" name="amount">
        <select id="method" name="method">
            <option value="" disabled selected>Method</option>
            <option value="cash">Cash</option>
            <option value="venmo">Venmo</option>
        </select>
        
        </p>
    <p><input type="submit" id="submit-btn" value="Submit"></p>
    
    {% if payments %}

    <h2>{{session['username']}}'s Payment history</h2>

    <div id=payments>
    {% for p in payments %}
    <p>{{p.dt}}...............{{p.method}}...............{{p.amount}}</p>
    {% endfor %}
    <script>
    /* global $ */
        
        var url = "{{url_for('payment',username='elennonj')}}";
        
        function addPayment(obj){
            if(obj.error) {
                $("#errors").empty().html('Error: '+obj.err);
            } else {
                $("<p>")
                    .text(obj.dt+"..............."+obj.method+"..............."+obj.amount)
                    .appendTo("#payments");
            }
        }
        
        $("#submit-btn").on("click", function (event) {
            event.preventDefault();  // prevent default form submission
            var method = $("#method").val();
            var amt = $("#amount").val();
            // convert the current datetime to something useable by the database
            var dt = new Date().toISOString().slice(0, 19).replace('T', ' ');
            console.log("dt: " + dt);
            sendPayment(method,amt,dt);
        });
            
        function sendPayment(method,amt,dt){
            console.log("Sending payment with method: " + method + " and amount: $" + amt + " at " + dt);
            $.post(url, {'method':method,'amount':amt},addPayment);
        }
    </script>
    
        
    </div>
    {% endif %}
</form>
    
{% endblock %}