<!DOCTYPE html>
{% extends "index.html" %}
{% block content %}

    <div id="errors"></div>
    <h1>
        Make a payment
    </h1>
    <div id="newPaymentInfo">
        <h2>{{user['name']}}'s tab balance is: ${{user.balanceOwed}}</h2>
    </div>
    
    <form method="POST" action="">
    <p><label for="amount">Amount</label>
        <input type="text" id="amount" name="amount">
        <select id="method" name="method">
            <option value="" disabled selected>Method</option>
            <option value="cash">Cash</option>
            <option value="venmo">Venmo</option>
        </select>
        
        </p>
    <p><input type="submit" id="submit-btn" value="Submit"></p>
    
    {% if payments %}

    <h2>{{session['username']}}'s Payment history</h2>

    <div id=payments>
    {% for p in payments %}
        <p><span class="payments">{{p.dt}}</span>...............<span class="payments">{{p.method}}</span>...............<span class="payments">{{p.amount}}</span>
        </p>
    {% endfor %}
    <script>
    /* global $ */
        
        var url = "{{url_for('payment',username=session['username'])}}";
        
        function addPayment(obj){
            $("#errors").empty();
            if(obj.error) {
                $("<p>")
                    .text('Error: '+obj.err)
                    .prependTo("#errors")
            } else {
                $("<p>")
                    .html("<span class='payments'>"+obj.dt+"</span>"
                        +"..............."+"<span class='payments'>"+obj.method+"</span>"
                        +"..............."+"<span class='payments'>"+obj.amount+"</span")
                    .prependTo("#payments");
                $("#newPaymentInfo")
                    .empty();
                $("<h2>")
                    .text(obj.user + " made a payment of $" + obj.amount + 
                                " using " + obj.method + ". Their new balance is $" + obj.newBalance + ".")
                    .prependTo("#newPaymentInfo");
            }
        }
        
        $("#submit-btn").on("click", function (event) {
            event.preventDefault();  // prevent default form submission
            var method = $("#method").val();
            var amt = $("#amount").val();
            // convert the current datetime to something useable by the database
            var dt = new Date().toISOString().slice(0, 19).replace('T', ' ');
            console.log("dt: " + dt);
            sendPayment(method,amt,dt);
        });
            
        function sendPayment(method,amt,dt){
            console.log("Sending payment with method: " + method + " and amount: $" + amt + " at " + dt);
            $.post(url, {'method':method,'amount':amt,'dt':dt},addPayment);
        }
    </script>
    
        
    </div>
    {% endif %}
</form>
    
{% endblock %}