{% extends "index.html" %}

{% block content %}
<h1>Remove Staff Members Below</h1>

<form method="POST" action="">
        <p><label for=username>Username</label>
            <select id="username">
                <option value="" disabled selected>Staff member</option>
                {% for staff in staffMembers %}
                    <option id="{{staff['username']}}_op" value={{staff['username']}}>{{staff['username']}}</option>
                {% endfor %}
            </select>
        </p>
    <p><input type="button" id="remove-btn" value="Remove"></p>
</form>

<div id="staff-members">
    {% for staff in staffMembers %}
        <div id={{staff['username']}}>{{staff['username']}}</div>
    {% endfor %}
</div>

<script>

 /* global $ */
 /* global functions */
     
    var URL = "{{url_for('remove_staff')}}";
          
      /*button to remove an employee from list of employees */ 
        $("#remove-btn").on("click", function(event){
            event.preventDefault();  // prevent default form submission
            if(confirm("Are you sure you wish to remove this employee?")){
                var staffId = $("#username").val();
                console.log(staffId);
                sendUpdate(staffId);
            }else{
                alert("The employee was not removed.");
            }
        });
    
    function sendUpdate(staffId){
        console.log("Deleting " + staffId + " from the list of staff members");
        $.post(URL,{'username':staffId},updatePage);
    }
    
    function updatePage(obj){
        var id = obj.username;
        console.log(id);
        var op_id = id + "_op";
        document.getElementById(id).remove();
        document.getElementById(op_id).remove();
        alert("User " + id + " was successfully removed from the staff directory");
    }
    
</script>

{% endblock %}


