<!DOCTYPE html>
{% extends "index.html" %}
{% block content %}
    <h1>
        Shopping Cart
    </h1>
  <form action="{{url_for('recent_orders', username=session['username'])}}" method="POST">
    <div class="shopping-cart">
      <!-- Title -->
      <div class="title">
        {{session['username']}}'s Shopping Bag
      </div>
  
    {% for item in session['cart'] %}
      {% if session['cart'][item] > 0 %}
        <div class="item">
        <input type=hidden name="miid" value="{{session['cart'][item]}}">

            <div class="buttons">
              <span class="delete-btn"></span>
              <span class="like-btn"></span>
            </div>
            
            <div class="description">
              <span>{{item}}</span>
            </div>
            
            <div class="quantity">
              <button class="minus-btn" type="button" name="button">
                <img src="{{ url_for('static', filename='minus.svg') }}" alt="" />
              </button>
              <input type="text" name="quantity" value="{{session['cart'][item]}}">

              <button class="plus-btn" type="button" name="button">
                <img src="{{ url_for('static', filename='plus.svg') }}" alt="" />
              </button>
            </div>
        </div>
    {% endif %}
    {% endfor %}
      
   
    <button type="submit">Place Order!</button> <!--should 'place order' and add order info to recent orders page-->
    </form>

     
      </div>
    
{% endblock %}