<!DOCTYPE html>
{% extends "index.html" %}
{% block content %}
    <h1>
        Shopping Cart
    </h1>
  <form action="{{url_for('recent_orders', username=session['username'])}}" method="POST">
    <div class="shopping-cart">
      <!-- Title -->
      <div class="title">
        {{session['username']}}'s Shopping Bag
      </div>
  
  <div class="item">
    <table id="cartItems">
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    {% for item in session['cart'] %}
        
        <tr class="quantity" value={{item}}>
          <td><input type="hidden" id="miid" name="miid" value="{{item}}"></td>
          <td><button class="remove-btn" type="button" name="button">
                <img src="{{ url_for('static', filename='delete-icn.svg') }}" alt="" />
              </button></td>
          <p><td class="description">{{session['cart'][item]['name']}}</td></p>
          <td>
              <button class="minus-btn" type="button" name="button">
                <img src="{{ url_for('static', filename='minus.svg') }}" alt="" />
              </button></td>
            <td><input type="text" id="quantity" name="quantity" value="{{session['cart'][item]['quantity']}}" oninput="changeQuant(this, this.value)"></td>
            <td><button class="plus-btn" type="button" name="button">
                <img src="{{ url_for('static', filename='plus.svg') }}" alt="" />
              </button>
            
        </td>
        <p><td> <input type="hidden" name="price" id="price" class ="price" value="{{session['cart'][item]['price']}}">$ {{session['cart'][item]['price']}}</td></p>
        <p><td class="total">$ ({{session['cart'][item]['price']}} * {{session['cart'][item]['quantity']}})</td></p>
        </tr>
        </div>   
             
    {% endfor %}
       <tr class="total">
         <td></td>
         
         <td></td>
         <td>Order Total: </td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td class="orderTotal" value=""></td>
       </tr>
       
    </table>
    <br><button type="submit">Place Order!</button> <!--should 'place order' and add order info to recent orders page-->
   
 
  </form>
   
   <form id="clearCart-btn" action="{{url_for('clearCart')}}" method="POST">
      <button type="submit" value="Clear Cart!!">Clear Cart!!</button>
   </form>
     
      </div>
      
      <script>
    
      /* global $ */
     
     var URL = "{{url_for('cart')}}";
     
     calcItemTotal();
     
     function calcItemTotal(){
       var ototal = 0;
     $("#cartItems tr.quantity").each(function(){
       var quant = parseFloat($(this).find("#quantity").val());
       console.log(quant);
       var iprice = parseFloat($(this).find(".price").val());
       console.log(iprice);
       var itotal = quant*iprice;
       ototal += itotal;
       $(this).find(".total").text("$" +itotal);
     });
      $("#cartItems tr.total").find(".orderTotal").text("$" +ototal);
     }
     
    /*button to decrease the quantity of an item in the shopping cart by 1 unit.
      If quantity reaches 1, remains at 1 (1 is lower bound). */ 
     $(".minus-btn").on("click", function(event){
      
        var miid = $(this).closest(".quantity").find("#miid").val();
        console.log(miid);
        
        var quant = $(this).closest(".quantity").find("input[name='quantity']").val();
        if (quant && quant > 1){
          quant = parseInt(quant,10) - 1;
        }else{
          quant = 1;
        }
       
        $(this).closest(".quantity").find("input[name='quantity']").val(quant);
        
        changeQuant(miid,quant);
     });
     
     /*button to increase the quantity of an item in the shopping cart by 1 unit.
     If quantity reaches 100, remains at 100 (100 is upper bound). */ 
     /*want to change so upper bound is the current quantity remaining of that item!!*/
     $(".plus-btn").on("click", function(event){
        var miid = $(this).closest(".quantity").find("#miid").val();
        var quant = $(this).closest(".quantity").find("input[name='quantity']").val();
        
        if(quant && quant < 100){
          quant = parseInt(quant,10) + 1;
        }else{
          quant = 100;
        }
        
        $(this).closest(".quantity").find("input[name='quantity']").val(quant);
        changeQuant(miid,quant);
     });
    
    /*button to remove an item from the shopping cart */ 
    $(".remove-btn").on("click", function(event){
      var miid = $(this).closest(".quantity").find("#miid").val();
      $(this).parent().parent().remove(); 
      // .closest(".quantity").remove();
      changeQuant(miid,0);
    });
    
    $("#quantity").oninput = function() { changeQuant($(this).closest(".quantity").find("#miid").val(),$(this).val()); };

    /*function to update quantity of item using miid (ID value associated with item)*/
    function changeQuant(miid,quantity) {
        console.log("changing quantity of "+miid+" to " +quantity);
        $.post(URL,
          {'miid': miid, 'quantity':quantity},
          function(resp){ console.log("new quantity for "+resp.miid+" is "+resp.quantity);
            
          });
          calcItemTotal();
      }

      </script>
      

{% endblock %}