<!DOCTYPE html>
{% extends "index.html" %}
{% block content %}
    <h1>
        Shopping Cart
    </h1>
  <form action="{{url_for('recent_orders', username=session['username'])}}" method="POST">
    <div class="shopping-cart">
      <!-- Title -->
      <div class="title">
        {{session['username']}}'s Shopping Bag
      </div>
  
    {% for item in items %}
        <div class="item">
        <input type=hidden name="miid" value="{{item.miid}}">

            <div class="buttons">
              <span class="delete-btn"></span>
              <span class="like-btn"></span>
            </div>
            
            <div class="description">
              <span>{{item.name}}</span>
            </div>
            
            <div class="quantity">
              <button class="minus-btn" type="button" name="button">
                <img src="{{ url_for('static', filename='minus.svg') }}" alt="" />
              </button>
              <input type="text" name="quantity" value="1">

              <button class="plus-btn" type="button" name="button">
                <img src="{{ url_for('static', filename='plus.svg') }}" alt="" />
              </button>
            </div>
        </div>
    {% endfor %}
       <!-- {% for item in items %}-->
           <!--<div class="item">-->
           <!-- <div class="buttons">-->
           <!--   <span class="delete-btn"></span>-->
           <!--   <span class="like-btn"></span>-->
           <!-- </div>-->
            
       <!--     <div class="description">-->
       <!--       <span>{{item.name}}</span>-->
       <!--     </div>-->
       
       <!--     <div class="panel">-->
       <!--         <table>-->
       <!--             <tr>-->
       <!--                 <td>{{item.name}}</td>-->
       <!--                 <td>${{item.item_total}}</td>-->
       <!--                 <td>{{item.quantity}}</td>-->
       <!--{% endfor %}-->
       <!--             </tr>-->
       <!--         </table>-->
       <!--     </div>-->
            
   
   
    <button type="submit">Place Order!</button> <!--should 'place order' and add order info to recent orders page-->
    </form>

      <!-- Product #1 -->
      <!--<div class="item">-->
      <!--  <div class="buttons">-->
      <!--    <span class="delete-btn"></span>-->
      <!--    <span class="like-btn"></span>-->
      <!--  </div>-->

      <!--  <div class="image">-->
      <!--    <img src="{{ url_for('static', filename='sandwich1.png') }}" alt="hii" />-->
      <!--  </div>-->

      <!--  <div class="description">-->
      <!--    <span>Green Monsta</span>-->
      <!--    <span>Sandwich</span>-->
      <!--  </div>-->

      <!--  <div class="quantity">-->
      <!--    <button class="minus-btn" type="button" name="button">-->
      <!--      <img src="{{ url_for('static', filename='minus.svg') }}" alt="" />-->
      <!--    </button>-->
      <!--    <input type="text" name="name" value="1">-->
      <!--    <button class="plus-btn" type="button" name="button">-->
      <!--      <img src="{{ url_for('static', filename='plus.svg') }}" alt="" />-->
      <!--    </button>-->
      <!--  </div>-->

      <!--  <div class="total-price">$5</div>-->
      <!--</div>-->
      </div>
    
    
    

{% endblock %}